/* IDs get the hastag # , classes get the period . */

/* Style the navbar */
#navbar {
  background-color: rgb(120, 102, 80);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  z-index: 100;
}

/* Navbar anchors styles*/
#navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  align-content: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  color: #000;
  background-color: beige;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#homelink {
  display: flex;
  justify-content: flex-start;
}

#links {
  display: flex;
  justify-content: flex-end;
}

#aboutArea {
  display: grid;
}

#aboutArea img {
  max-width: 30%;
  aspect-ratio: 1;
}

/* table with photo and my name */
.name_photo {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  
}

.name_photo img { 
  width: 200px; 
  height: auto; 
}


/* Background color */
body {
  font-family: "Roboto", sans-serif;
  background-color: #90b4da;
  background-image: url("img/shore.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
}

.textbody {
  width: 50%;
  padding: 5%;
  
}

.projects {
  display: flex;
}

/* Example for a gradient leaving 25% on each side */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 75%;
  padding: 2%;
  /* Set the background color using linear-gradient */
  background-image: linear-gradient(to right, transparent 25%, rgba(255, 255, 255, 0.8) 25%, rgba(255, 255, 255, 0.8) 75%, transparent 75%);
  background-position: center;
}


footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #a67526ff;
}
