/* IDs get the hastag # , classes get the period . */

/* Style the navbar */
#navbar {
  background-color: #a2aebbff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Roboto", sans-serif; 
}

/* Navbar anchors styles*/
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  align-content: center;
  padding: 14px;
  text-decoration: none;
  
}

#homelink {
  display: flex;
  justify-content: flex-start;
}

#links {
  display: flex;
  justify-content: flex-end;
}

/* Background color */
body {
  font-family: "Roboto", sans-serif;
  background-color: #90b4da;
  }
  
  .textbody{
    width: 50%;
    background-color: #05668dff;
    padding: 5%;
  }
  
  .projects{
    display: flex
    
  }

main{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

footer{
  
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  background-color: #a67526ff;;
}
