/* Coolors Exported Palette - https://coolors.co/171738-05668d-7e8b83-d8ddde-d9f7fa */

/* CSS HEX */
--space-cadet: #171738ff;
--lapis-lazuli: #05668dff;
--battleship-gray: #7e8b83ff;
--platinum: #d8dddeff;
--light-cyan: #d9f7faff;

/* CSS HSL */
--space-cadet: hsla(240, 42%, 15%, 1);
--lapis-lazuli: hsla(197, 93%, 29%, 1);
--battleship-gray: hsla(143, 5%, 52%, 1);
--platinum: hsla(190, 8%, 86%, 1);
--light-cyan: hsla(185, 77%, 92%, 1);

/* SCSS HEX */
$space-cadet: #171738ff;
$lapis-lazuli: #05668dff;
$battleship-gray: #7e8b83ff;
$platinum: #d8dddeff;
$light-cyan: #d9f7faff;

/* SCSS HSL */
$space-cadet: hsla(240, 42%, 15%, 1);
$lapis-lazuli: hsla(197, 93%, 29%, 1);
$battleship-gray: hsla(143, 5%, 52%, 1);
$platinum: hsla(190, 8%, 86%, 1);
$light-cyan: hsla(185, 77%, 92%, 1);

/* SCSS RGB */
$space-cadet: rgba(23, 23, 56, 1);
$lapis-lazuli: rgba(5, 102, 141, 1);
$battleship-gray: rgba(126, 139, 131, 1);
$platinum: rgba(216, 221, 222, 1);
$light-cyan: rgba(217, 247, 250, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #171738ff, #05668dff, #7e8b83ff, #d8dddeff, #d9f7faff);
$gradient-right: linear-gradient(90deg, #171738ff, #05668dff, #7e8b83ff, #d8dddeff, #d9f7faff);
$gradient-bottom: linear-gradient(180deg, #171738ff, #05668dff, #7e8b83ff, #d8dddeff, #d9f7faff);
$gradient-left: linear-gradient(270deg, #171738ff, #05668dff, #7e8b83ff, #d8dddeff, #d9f7faff);
$gradient-top-right: linear-gradient(45deg, #171738ff, #05668dff, #7e8b83ff, #d8dddeff, #d9f7faff);
$gradient-bottom-right: linear-gradient(135deg, #171738ff, #05668dff, #7e8b83ff, #d8dddeff, #d9f7faff);
$gradient-top-left: linear-gradient(225deg, #171738ff, #05668dff, #7e8b83ff, #d8dddeff, #d9f7faff);
$gradient-bottom-left: linear-gradient(315deg, #171738ff, #05668dff, #7e8b83ff, #d8dddeff, #d9f7faff);
$gradient-radial: radial-gradient(#171738ff, #05668dff, #7e8b83ff, #d8dddeff, #d9f7faff);